* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.header img {
  height: 75px;
  width: 90px;
  position: fixed;
  top: 3px;
  margin-left: -15px;
  z-index: 10;
}
.nav {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 15px;
  transition: background 0.5s ease, border-radius 0.5s ease;
}
.nav a:hover {
  background: blue;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 255, 0.5);
}
.dropdown {
  position: relative;
  padding-bottom: 15px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 255, 0.2);
  border-radius: 3px;
  padding: 10px;
  min-width: 250px;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-menu a {
  font-size: 15px;
  padding: 10px 10px;
  color: black;
  display: block;
}
.dropdown-menu a:hover {
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 255, 0.5);
}
/* SEARCH BAR */
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 35px;
}
.search-container input {
  padding: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.search-container .search-icon {
  width: 25px;
  height: 25px;
  margin-left: 150px;
  top: 28px;
}
.search-icon {
  height: 20px;
  cursor: pointer;
}
/* BANNER SECTION */
.banner {
  position: relative;
  text-align: center;
  color: black;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.banner-text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  background: rgba(200, 221, 254, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  color: black;
}
.footer {
  background: blue;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-column h3 {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-column a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-column p {
  color: white;
  font-size: 14px;
}
.footer-column p:hover {
  color: gold;
}
.footer-column a:hover {
  color: gold;
}
.footer-right img {
  width: 120px;
  margin-bottom: 5px;
}